<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://iotfunctionstempdeviceteste.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/c57cb66c-89fc-4fdf-9f8e-f3ca54f661b6/resourcegroups/IoTStudy/providers/Microsoft.Web/sites/IotFunctionsTempDeviceTeste</ResourceId>
    <UserName>$IotFunctionsTempDeviceTeste</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://iotfunctionstempdeviceteste.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>